
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


allure-results/
allure-report/
environment/.env
helpers/storageState.json
.DS_Store